extends base

block vars
  - var title = "Dashboard"

block body
  .container
    .vertical-center
      .jumbotron.col-sm-8
        h3 #{user.firstName}'s User Data
        pre
          #{userString}
        pre
          a(href='/nowaKonfa') Utwórz
        pre
          each val in konwersacjeArr
            pre
              img(src=userPhoto).photo
              a(href='/messaging/?konfaId='+val._id) #{val.nazwa}
              br
